/*-- header --*/
header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: inline-flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header img {
  height: 50px;
  padding-left: 10px
}

/*-- body --*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*-- mission --*/
.mission-container {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  padding: 0px 700px;
  width: 1200px;
}
