* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
 }

body {
  margin: 0;
  text-align: center;
}

.mission,
.location-main {
  width: 1200px;
}

 /*-- header --*/
 header {
   height: 69px;
   width: 100%;
   border-bottom: 1px solid seashell;
   position: fixed;
   align-items: center;
   z-index: 1;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 header img {
   height: 50px;
   padding-left: 10px;
 }

nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: underline;
}

/*-- main section --*/
.flex-container main{
  width: 970px;
  margin: auto;
}

 /*-- mission --*/
 .mission {
   display: flex;
   background-image: url("../images/img-mission-background.jpg");
   width: 1200px;
   height: 700px;
 }
