* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
 }

/*-- flexbox --*/
.flex-container {
  display: flex;
}

.column {
  flex-direction: column;
}

section {
  align-items: center;
}

section,
footer {
  position: relative;
}

/*-- margins, height, width --*/
body {
  text-align: center;
}

.no-margin {
  margin: 0;
}

footer h5 {
  margin-left: 20px;
}

.location-main h2 {
  margin-bottom: 15px;
}

.locations {
  opacity: 1;
  margin: 0 20px;
}

.tea-images {
  margin: 10px;
}

.tea-image {
  height: 200px;
  width: 300px;
}

.flex-container main{
  width: 970px;
  margin: auto;
}

.top-padding {
  padding-top: 70px;
}

.mission,
.location-main,
.locations {
  width: 1200px;
}

.featured-tea {
  width: 1000px;
}

.location {
  width: 300px;
  height: 300px;
}

.mission {
  height: 700px;
}

.location-main {
  height: 500px;
}

.contact-info {
  height: 200px;
}

.tea {
  height: 200px;
  width: 300px;
}

 /*-- header --*/
 header {
   height: 69px;
   width: 100%;
   border-bottom: 1px solid seashell;
   position: fixed;
   align-items: center;
   z-index: 1;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 header img {
   height: 50px;
   padding-left: 10px;
 }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: underline;
}

 /*-- mission --*/
 .mission {
   display: flex;
   background-image: url("../images/img-mission-background.jpg");
   width: 1200px;
   height: 700px;
 }

.our-mission {
  align-items: center;
}

/*-- featured tea --*/
.tea-images {
  flex-wrap: wrap;
  justify-content: center;
}

/*-- locations --*/
.locations {
  justify-content: center;
}

.location-main {
  display: block;
  background-image: url("../images/img-locations-background.jpg")
}

/*-- footer --*/
footer h5 {
  text-align: left;
}
